<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" th:href="todostyle.css">
</head>
<body>
<div>
    <h1>TODOS FOR TODAY:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
            </tr>
        </thead>
        <tbody th:each="todo : ${todos}" th:object="${todo}">
            <tr>
            <td th:text="*{id}">
            <td th:text="*{title}">
            <td th:text="*{done}">
            <td th:text="*{urgent}">
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>