<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show table of accounts</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Species</th>
            <th>Alignment</th>
        </tr>
        </thead>
        <tr th:each="account : ${accounts}" th:object="${account}" th:style="*{king} ? 'color:gold' : 'color:black'">
            <td th:text="${accountStat.index}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance, 0, 'COMMA', 2, 'POINT')} + ' EUR'"></td>
            <td th:text="*{animalType}"></td>
            <td th:text="*{villain} ? 'Bad Guy' : 'Good Guy'"></td>
        </tr>
    </table>
    <div>
        <button onclick="window.location.href='/raise_balance'">Raise a balance</button>
        <button onclick="window.location.href='/add_account'">Add a new account</button>
    </div>
</div>
</body>
</html>