<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" th:href="todostyle.css">
</head>
<body>
<div>
    <div>
        <h1>TODOS FOR TODAY:</h1>
        <a th:href="'/todo/add'">Add a new todo</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        </thead>
        <tbody th:each="todo : ${todos}" th:object="${todo}">
        <tr>
            <td th:text="*{id}">
            <td th:text="*{title}">
            <td th:text="*{done}">
            <td th:text="*{urgent}">
            <td>
            <form th:action="'todo/delete'" th:method="get">
                <button type="submit" name="id" th:value="*{id}">Delete</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>